body {
  font-family: Trebuchet, Times, serif;
  font-size: 14px;
  background: rgba(255,255,255,.5);
}

/* Container div around fieldset */
.console {
  margin-top: 20px;
}

/*Container for the buttons that toggle the graphs and forms */
#toggleButtons {
  width: 100px;
  margin: auto;
}

button {
  border-radius: 25px;
  width: 100px;
  margin-bottom: 10px;
}

fieldset {
  width: 300px;
  margin: auto;
  margin-bottom: 30px;
}

legend {
  font-weight: bold;
  font-size: 24px;
  color: white;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

label {
  display: inline-block;
  clear: both;
  float: left;
  width: 70px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

input {
  display: inline-block;
  text-align: left;
  margin-bottom: 10px;
}

select {
  display: inline-block;
  text-align: left;
  width: 200px;
  margin-bottom: 10px;
}

ul li {
  list-style-type: none;
  text-transform: uppercase;
}

ul li:nth-child(even) {
  margin-bottom: 30px;
}

ul li:nth-child(odd) {
  margin-bottom: 10px;
  text-decoration: underline;
  font-size: 16px;
}

/*Setting box shadows for each type of fielset */
.firstSet {
  box-shadow: 10px 10px #0e5293;
}

.secondSet {
  box-shadow: 10px 10px #cf4553;
}

.thirdSet {
  box-shadow: 10px 10px #ffa500;
}

.formSubmit {
  float: left;
  clear: both;
  margin: 5px;
  padding: 5px;
}
